<div class="d-flex justify-content-center m-5" *ngIf="productos.length === 0; else tabla">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-template #tabla>
  <h1 class="mt-2">Listado de productos</h1>
  <hr>
  <div class="table-responsive animate__animated animate__fadeIn">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del producto</th>
          <th scope="col">Categoria</th>
          <th scope="col">Precio</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let producto of productos; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{producto.name}}</td>
        <td>{{producto.category}}</td>
        <td>{{producto.price | currency}}</td>
        <td *ngIf="isAdmin">
          <button class="btn btn-info m-1" (click)="modificar(producto)">
            <i class="fa-solid fa-pen-to-square"></i>
            Editar
          </button>
        </td>
        <td *ngIf="isAdmin">
          <button class="btn btn-danger m-1" (click)="borrar(producto)">
            <i class="fa-solid fa-trash"></i>
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation example">
  Pagina {{currentPage}} de {{totalPages}}
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link">1</a></li>
    <li class="page-item"><a class="page-link">2</a></li>
    <li class="page-item"><a class="page-link">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</ng-template>
